{% extends 'base.html' %}
{% block content %}
<body>

    <main>
        <section class="about-us">
            <div class="container">
                <h1>About Us</h1>
                <p>The Zampen Native Chicken Grower initiative is dedicated to providing sustainable livelihood opportunities to rural communities in the Zamboanga Peninsula through native chicken farming. Our focus is on promoting the Zampen native chicken, a breed known for its resilience, adaptability, and high-quality meat, which is well-suited to the region's climate and environment.</p>
                
                <p>Launched in partnership with various stakeholders, including the Department of Science and Technology - Philippine Council for Agriculture, Aquatic and Natural Resources Research and Development (DOST-PCAARRD), this program is part of a larger effort to enhance food security and economic stability in the region. The initiative aims to empower local farmers by providing them with the necessary tools, knowledge, and support to succeed in native chicken farming.</p>
                
                <p>Our system is designed to help farmers efficiently manage their operations, from tracking individual chickens to monitoring family groups, dispersal events, and farm locations. By leveraging technology and data-driven practices, we strive to improve productivity, ensure the health and well-being of the chickens, and ultimately contribute to the growth of the native chicken industry in the Zamboanga Peninsula.</p>
                
                <p>At the heart of our mission is the belief that sustainable agriculture can drive economic progress and improve the quality of life for rural communities. We are committed to making a positive impact by supporting farmers and fostering the growth of the Zampen native chicken industry.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2024 Zampen Chicken Tracking Management System. All rights reserved.</p>
    </footer>

    <style>
        body {
            background-color: #f4f4f9;
            color: #28a745;
            font-family: Arial, sans-serif;
        }
        .about-us {
            padding: 100px 0;
            text-align: center;
        }

        .about-us h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }

        .about-us p {
            font-size: 1.25rem;
            margin-bottom: 40px;
            line-height: 1.6;
            max-width: 800px;
            margin: 0 auto;
        }

        .footer {
            background-color: #1d8034;
            color: #ffffff;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</body>
{% endblock %}
