{% extends 'base.html' %}
{% block content %}
<body>

    <main>
        <section class="hero">
            <div class="container">
                <h1>Welcome to the Zampen Native Chicken Tracking Management System</h1>
                <p>Efficiently manage and track your Zampen native chicken farming operations.</p>
                <a href="{% url 'about' %}" class="btn btn-primary btn-lg">Get Started</a>
            </div>
        </section>

        <section class="features text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body teritiary">
                                <h3 class="card-title">Manage Individual Chickens</h3>
                                <p class="card-text">Keep detailed records of each chicken in your farm.</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-custom" href="{% url 'livestock' %}" role="button">View Zampen Chickens</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body teritiary">
                                <h3 class="card-title">Track Family Groups</h3>
                                <p class="card-text">Organize chickens into family groups for better breeding management.</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-custom" href="{%url  'family' %}" role="button">View Chicken Families</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body teritiary">
                                <h3 class="card-title">View Farm Locations</h3>
                                <p class="card-text">View farm locations in the map.</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-custom" href="{%url 'farm'%}" role="button">View Farms</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body teritiary">
                                <h3 class="card-title">Monitor Dispersal Events</h3>
                                <p class="card-text">Track where and when chickens are dispersed to different locations.</p>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-custom" href="{%url 'dispersal'%}" role="button">View Dispersals</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <style>
        body {
            background-color: #f4f4f9;
            color: #28a745;
            font-family: Arial, sans-serif;
        }
        .hero {
            background: url('https://via.placeholder.com/1500x500') no-repeat center center;
            background-size: cover;
            color: #ffffff;
            padding: 100px 0;
            text-align: center;
        }

        .hero h1 {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1.25rem;
            margin-bottom: 40px;
        }

        .features {
            padding: 60px 0;
        }

        .features h3 {
            margin-bottom: 15px;
        }


        .card {
            min-width: 200px;
            min-height: 250px;
            margin-bottom: 30px;
        }
        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .card-body p {
            margin-bottom: 20px;
        }
    </style>
</body>
{% endblock %}
